---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import psicologa from '../assets/profesionales/psicologa.webp';
import doctor from '../assets/profesionales/doctor.webp';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const trastornos = [

  "Trastorno de ansiedad generalizada (TAG)",
  "Trastorno de ansiedad social",
  "Trastorno de pánico",
  "Trastorno por estrés postraumático",
  "Trastorno de ansiedad por separación",
  "Trastorno Obsesivo-Compulsivo (TOC)",
  "Trastorno de Depresión Mayor (TDM)",
  "Trastorno Depresivo Persistente (Distimia)",
  "Trastorno de estrés postraumático (TEPT)",
  "Trastorno de estrés agudo (TEA)",
  "Trastorno de estrés crónico",
  "Trastorno de insomnio",
  "Trastorno por déficit de atención e hiperactividad",
  "Trastorno por déficit de atención",
  "Rehabilitación en secuelas de evento cerebral vascular",
  "Migraña",
  "Disminución en sintomatología de Tinnitus",
  "Síndrome de bornout (Síndrome de desgaste profesional)"

];
---




<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={`Preguntas Frecuentes - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    </head>
    <body class="bg-light text-black">
        <Header />
        <main class="flex flex-col items-center min-h-screen gap-12 w-full p-8">
            <!-- FAQ Section -->
            <section class="w-full max-w-4xl p-8 bg-white shadow-lg rounded-2xl">
                <h1 class="text-3xl font-bold mb-6">Preguntas Frecuentes</h1>


                <div class="grid grid-cols-1 gap-6">

                    
                    <div class="bg-light p-6 rounded-lg shadow-lg border-l-4 destacado-borde">
                        <h2 class="text-2xl font-bold mb-3 text-gray-800 flex items-center">
                            🧠 ¿Quiénes son nuestros profesionales?
                        </h2>

                        <div class="grid sm:grid-cols-2 gap-10 mt-10 bg-white">
                            <!-- Profesional 1 -->
                            <div class="flex flex-col sm:flex-row items-center gap-8 bg-white p-8 rounded-2xl shadow-2xl transition-transform hover:scale-105">
                              <img 
                                src={psicologa.src} 
                                alt="Psicóloga Ana" 
                                class="w-40 h-40 sm:w-44 sm:h-44 object-cover rounded-full border-4 borde-azul  shadow-lg" 
                                loading="lazy"
                              />
                              <div class="text-center sm:text-left">
                                <h3 class="font-bold text-3xl text-gray-900 mb-2"> Ana Barajas</h3>
                                <p class="text-gray-700 text-lg leading-snug">Psicóloga Clínica </p>
                              </div>
                            </div>
                          
                            <!-- Profesional 2 -->
                            <div class="flex flex-col sm:flex-row items-center gap-8 bg-white p-8 rounded-2xl shadow-2xl transition-transform hover:scale-105">
                              <img 
                                src={doctor.src} 
                                alt="Doctor Abraham" 
                                class="w-40 h-40 sm:w-44 sm:h-44 object-cover rounded-full border-4 borde-azul shadow-lg" 
                                loading="lazy"
                              />
                              <div class="text-center sm:text-left">
                                <h3 class="font-bold text-3xl text-gray-900 mb-2">Dr. Abraham Ochoa</h3>
                                <p class="text-gray-700 text-lg leading-snug">Neuropsiquiatra (EMT).</p>
                              </div>
                            </div>
                          </div>
                          
                          
                          
                        
                    </div>

                    <div class="bg-white p-6 rounded-lg shadow-lg destacado-borde">
                        <h2 class="text-2xl font-bold mb-3 text-gray-800 flex items-center">
                            ⚡ ¿Qué es la Estimulación Magnética Transcraneal (EMT)?
                        </h2>
                        <p class="text-lg text-gray-700 leading-relaxed">
                            La Estimulación Magnética Transcraneal (EMT) es un tratamiento <span class="span-azul">no invasivo</span> 
                            que utiliza campos magnéticos para estimular las células nerviosas en el cerebro, mejorando los síntomas de diversos 
                            trastornos neurológicos y psiquiátricos.
                        </p>
                    </div>
                    
                    
                    
                    <div class="bg-light p-6 rounded-lg shadow-md destacado-borde">
                        <h2 class="text-2xl font-bold mb-4 text-center">¿Qué padecimientos atendemos?
                        </h2>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
                          {trastornos.map((trastorno) => (
                            <div class="flex items-center space-x-2">
                              <span class="span-azul">✔️</span>
                              <p class="text-gray-700">{trastorno}</p>
                            </div>
                          ))}
                        </div>
                    </div>

                    <div class="bg-white p-6 rounded-lg shadow-md destacado-borde">
                        <h2 class="text-2xl font-bold mb-4 text-gray-800">¿Quiénes pueden tomar este tratamiento?</h2>
                        <ul class="text-lg text-gray-700 space-y-3">
                            <li><strong class="span-azul">📌 Edad:</strong> 5 años en adelante.</li>
                            <li><strong class="span-azul">👔 Empresarios:</strong> Que deseen mejorar sus funciones cognitivas clave para el liderazgo, toma de decisiones, planificación y organización, flexibilidad cognitiva, aumento en la concentración y atención, reducción de estrés y ansiedad, mejorar su estado de ánimo y creatividad.</li>
                            <li><strong class="span-azul">✨ Personas comprometidas:</strong> Dispuestas a mejorar la calidad de vida eligiendo neurotecnología que aporte buenos resultados ante sus padecimientos.</li>
                        </ul>
                    </div>
                    <div class="bg-white p-6 rounded-lg shadow-md destacado-borde">
                        <h2 class="text-2xl font-bold mb-4 text-gray-800">¿Quiénes <span class="span-azul">NO</span> pueden tomar este tratamiento?</h2>
                        <ul class="text-lg text-gray-700 space-y-3">
                            <li><strong class="span-azul">⚠️ Implantes metálicos:</strong> No es adecuada para personas con ciertos implantes metálicos en la cabeza o válvula en el cerebro.</li>
                            <li><strong class="span-azul">⚡ Convulsiones:</strong> No recomendado para quienes presenten historial de convulsiones.</li>
                           
                        </ul>
                    </div>
                    <div class="bg-white p-6 rounded-lg shadow-md destacado-borde">
                        <h2 class="text-2xl font-bold mb-4 text-gray-800">📌 Consideraciones importantes</h2>
                        <ul class="text-lg text-gray-700 space-y-3">
                            <li><strong class="span-azul">👩‍⚕️ Profesional capacitado:</strong> La EMT debe ser realizada por un profesional de la salud capacitado.</li>
                            <li><strong class="span-azul">💬 Consulta médica:</strong> Es importante hablar con un médico para determinar si la EMT es una opción adecuada.</li>
                            <li><strong class="span-azul">📊 Resultados positivos:</strong> La eficacia puede variar según el trastorno y la gravedad, pero los resultados siempre son positivos.</li>
                        </ul>
                    </div>
                    <div class="bg-white p-6 rounded-lg shadow-lg border-l-4 destacado-borde">
                        <h2 class="text-2xl font-bold mb-3 text-gray-800 flex items-center">
                            ⏳ ¿Cuánto tiempo dura una sesión de EMT?
                        </h2>
                        <p class="text-lg text-gray-700 leading-relaxed">
                            Una sesión típica de EMT dura entre <span class="span-azul font-medium">20 y 40 minutos</span>, dependiendo del 
                            protocolo específico utilizado.
                        </p>
                    </div>

                </div>
            </section>
        </main>
        <Footer />
    </body>
</html>
